html{
    background-color:rgb(100, 97, 97);
    height: 100%;
}

.titulo-site{
    color: blueviolet;
    text-align: center;
}






body{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px;

    
}

.nav-lista{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
    color:white;
    padding: 10px 0x;
    margin: 0px;
    font-size: 20px;
    row-gap: 10px;
    border: 2px solid#000;
    flex-wrap: wrap;
    width: auto;
    column-gap: 10px;


}

.nav{
    background-color: rgb(54,54,54);
}

footer{
    background-color: rgb(54,54,54);
    text-align: center;
    color: white;
    padding: 10px 0px;


}

.card{
    display: flex;
    width: fit-content;
    border: 2px solid #fff;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}